#container {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 561px;
    height: 561px;
    /* background-color: yellow; */
}

.board {
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;
}

table.board tr td {
    border: 2px solid black;
}

/* table.board tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: black;
}

table.board tr:nth-of-type(even) td:nth-of-type(odd) {
    background-color: black;
}

table.board tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: burlywood;
}

table.board tr:nth-of-type(even) td:nth-of-type(even) {
    background-color: burlywood;
} */

/* table.board tr:nth-of-type(odd) td:nth-of-type(odd) {
    background-color: black;
}

table.board tr:nth-of-type(even) td:nth-of-type(even) {
    background-color: burlywood;
} */

table.board tr:nth-of-type(odd) td:nth-of-type(odd),
table.board tr:nth-of-type(even) td:nth-of-type(even) {
   background-color:black;
}

table.board tr:nth-of-type(even) td:nth-of-type(odd),
table.board tr:nth-of-type(odd) td:nth-of-type(even) {
   background-color:burlywood;
}

.uno {
    position: relative;
}

.uno div {
    position: absolute;
    top: 15px;
    left: 90px;
    font-weight: bold;
}

table:hover {
    cursor: pointer;
}

tr th:hover {
    background-color: red;
    /* non funziona
    funziona solo per i tr */
}

table tr:hover {
    background-color: red;
}

tr th td:hover {
    background-color: red;
}






